{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start using Invent'Easy</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header pull-right">
                <span>Logged as <b>{{ user.username }}&nbsp;&nbsp;</b></span>
                <button type="button" class="btn btn-default navbar-btn">Logout</button>
            </div>
        </div>
    </nav>

    <section id="start_page">
        <div class="small_wrap text-center">
            <div class="header">
                <h1>Invent' <img class="header-img" src="{% static 'img/logo-inventoreasy.png' %}" alt=""/> easy</h1>
            </div>
            
            <div class="wrap-text">
                {% if user.is_authenticated %}
                <h3>Welcome <b>{{ user.username }}</b>, Thanks for logging in !</h3>
                <img src="{% static 'img/magic-wand.png' %}" alt="">
                <p>Invent'Easy is a <b>very simple tool</b> to help you <b>manage your stock</b> and easily check their availability.</p>
                {% else %}
                    <p>Welcome, new user. Please log in.</p>
                {% endif %}
                <a href="{% url 'product-list' %}">Start the magic now !</a>
                <br/><br/>
            </div>
        </div>
    </section>
</body>
</html>