{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
  <section id="login_page">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12">

        <div class="header">
          <h1>Invent' <img src="{% static 'img/logo-inventoreasy.png' %}"/> easy</h1>
        </div>
        
        <form method="post" id="login_form">
          <h2>Welcome, please log in</h2>
          {% csrf_token %}
          {{ form.as_p }} 
          <button type="submit">Log in</button>
        </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>